
# Data Science Tools and Ecosystem

**Objectives**
- Popular Data Science programming languages
- Commonly used Libraries in Data Science
- Popula Development Environments
- Some examples of arithmetic operations

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL (for SQL db statements)
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas (Python)
2. Matploblib (Python)
3. ggplot (R)

|Data Science Tools|
|------|
|R studio|
|VS Code|
|Jupyter Notebooks|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jose Luis de Juan